// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,400,600');
body{
    font-family: 'Playfair Display', serif;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

//      CSS NAVBAR
.navbar{
    background: transparent!important;
}
.navbar .collapse .navbar-nav{
    margin-right: 180px;
}


//      CSS HEADER      //
.header{
    height: 700px;
    background: #fff;
    overflow: hidden;
}
.header .container{
    height: 100%;
    align-items: center;
}
.header .container .mx-w{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .container .mx-w h1{
    font-size: 60px;
}
.header .container .mx-w div{
    width: 300px;
}
.header .container .mx-w div a{
    background: #000;
    color: #fff;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.header .container .model{
    height: 100%;
    right: -85px;
}
.header .container .redes{
    transform: rotate(90deg);
    right: -30px;
    top: calc(700px - 46%);
    font-weight: 700;
}
.header .container .redes .fab{
    transform: rotate(-90deg);
}

//      CSS BANNER      //
.banner{
    height: 800px;
    background: url("../images/modelo-bn-grande.png") no-repeat center;
    background-size: cover;
    color: #fff;
    .container{
        height: 100%;
        .row{
            height: 100%;
            .moda{
                font-size: 120px;
                line-height: 120px;
                span{
                    color: #e00a12;
                }
            }
            img{
                margin-left: 50%;
            }
        }
    }
} 

//      CSS TIENDA      //
.items2{
    margin-right: auto;
    margin-left: 26px;
}
.items3{
    margin-right: 236px;
}
.title-ropa{
    transform: rotate(90deg);
    right: 0;
    top: 70px;
}
.title-accesorios{
    right: -46px;
    transform: rotate(90deg);
    top: 74px;
}
.tienda{
    .cont-int{
        max-width: 80%;
        width: 80%;
        .pagination a{
            border: none!important;
            color: #000;
        }
        .elementos .articulo{
            max-width: 210px;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            p{
                font-weight: 700;
            }
            .btn{
                width: 50px;
                color: #000;
                border: 1px solid #c7c3c0;
                border-radius: 0;
            }
        }
    }
}