@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,400,600");
body {
  font-family: 'Playfair Display', serif; }

.raleway {
  font-family: 'Raleway', sans-serif; }

.navbar {
  background: transparent !important; }

.navbar .collapse .navbar-nav {
  margin-right: 180px; }

.header {
  height: 700px;
  background: #fff;
  overflow: hidden; }

.header .container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header .container .mx-w {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header .container .mx-w h1 {
  font-size: 60px; }

.header .container .mx-w div {
  width: 300px; }

.header .container .mx-w div a {
  background: #000;
  color: #fff;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px; }

.header .container .model {
  height: 100%;
  right: -85px; }

.header .container .redes {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -30px;
  top: calc(700px - 46%);
  font-weight: 700; }

.header .container .redes .fab {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.banner {
  height: 800px;
  background: url("../images/modelo-bn-grande.png") no-repeat center;
  background-size: cover;
  color: #fff; }
  .banner .container {
    height: 100%; }
    .banner .container .row {
      height: 100%; }
      .banner .container .row .moda {
        font-size: 120px;
        line-height: 120px; }
        .banner .container .row .moda span {
          color: #e00a12; }
      .banner .container .row img {
        margin-left: 50%; }

.items2 {
  margin-right: auto;
  margin-left: 26px; }

.items3 {
  margin-right: 236px; }

.title-ropa {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: 0;
  top: 70px; }

.title-accesorios {
  right: -46px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 74px; }

.tienda .cont-int {
  max-width: 80%;
  width: 80%; }
  .tienda .cont-int .pagination a {
    border: none !important;
    color: #000; }
  .tienda .cont-int .elementos .articulo {
    max-width: 210px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 15px; }
    .tienda .cont-int .elementos .articulo p {
      font-weight: 700; }
    .tienda .cont-int .elementos .articulo .btn {
      width: 50px;
      color: #000;
      border: 1px solid #c7c3c0;
      border-radius: 0; }
