@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,400,600");
body {
  font-family: 'Playfair Display', serif; }

.raleway {
  font-family: 'Raleway', sans-serif; }

.navbar {
  background: transparent !important; }

.navbar .collapse .navbar-nav {
  margin-right: 180px; }

.header {
  height: 700px;
  background: #fff; }

.header .container {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header .container .mx-w {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header .container .mx-w h1 {
  font-size: 60px; }

.header .container .mx-w div {
  width: 300px; }

.header .container .mx-w div a {
  background: #000;
  color: #fff;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px; }

.header .container .model {
  height: 100%;
  right: -85px; }

.header .container .redes {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  right: -30px;
  top: calc(700px - 46%);
  font-weight: 700; }

.header .container .redes .fab {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }
