// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,400,600');
body{
    font-family: 'Playfair Display', serif;
}
.playfair{
    font-family: 'Playfair Display', serif;
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

//      CSS NAVBAR
.navbar{
    background: transparent!important;
}
.navbar .collapse .navbar-nav{
    margin-right: 180px;
}
.scrolled{
    transition: all .3s ease-in-out;
    background: #fff!important;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.75);
}
.scrolledn{
    transition: all .3s ease-in-out;
    margin-top: auto;
    margin-bottom: auto;
}


//      CSS HEADER      //
.header{
    height: 700px;
    background: #fff;
    overflow: hidden;
}
.header .container{
    height: 100%;
    align-items: center;
}
.header .container .mx-w{
    z-index: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .container .mx-w h1{
    font-size: 60px;
}
.header .container .mx-w div{
    width: 300px;
}
.header .container .mx-w div a{
    background: #000;
    color: #fff;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
}
.header .container .model{
    height: 100%;
    right: -85px;
}
.header .container .redes{
    transform: rotate(90deg);
    right: -30px;
    top: calc(700px - 46%);
    font-weight: 700;
}
.header .container .redes .fab{
    transform: rotate(-90deg);
}

//      CSS BANNER      //
.banner{
    height: 800px;
    background: url("../images/modelo-bn-grande.png") no-repeat center;
    background-size: cover;
    color: #fff;
    .container{
        height: 100%;
        .row{
            height: 100%;
            .moda{
                font-size: 120px;
                line-height: 120px;
                span{
                    color: #e00a12;
                }
            }
            img{
                margin-left: 50%;
            }
        }
    }
} 

//      CSS TIENDA      //
.tit-resp-rop,
.tit-resp-acc{
    display: none;
}
.items2{
    margin-right: auto;
    margin-left: 26px;
}
.items3{
    margin-right: 236px;
}
.title-ropa{
    transform: rotate(90deg);
    right: 0;
    top: 70px;
}
.title-accesorios{
    right: -46px;
    transform: rotate(90deg);
    top: 74px;
}
.tienda{
    .cont-int{
        max-width: 80%;
        width: 80%;
        .pagination a{
            border: none!important;
            color: #000;
        }
        .elementos .articulo{
            max-width: 210px;
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            p{
                font-weight: 700;
            }
            .btn{
                width: 50px;
                color: #000;
                border: 1px solid #c7c3c0;
                border-radius: 0;
            }
        }
    }
}

//      CSS CAROUSEL        //
.carousel{
    height: 350px;
    .item-1{
        background: url("../images/modelo-bn-ultima.png") center no-repeat;
        background-size: cover;
        height: 350px;
        .col-sm-3{
            img{
                width: 120px;
                height: 70px;
            }
            p,span{
                color: #000;
                position: absolute;
            }
            p{
                font-size: 40px;
                bottom: 15px;
            }
            span{
                bottom: 0;
                font-size: 20px;
                right: 25px;
            }
        }
        .col-sm-9{
            height: 350px!important;
            h1{
                font-size: 80px;
                color: #000;
            }
            span{color: #df0a10;}
        }
    }
    .item-2{
        background: url("../images/modelo-bn-ultima.png") center no-repeat;
        background-size: cover;
        height: 350px;
        .col-sm-3{
            img{
                width: 120px;
                height: 70px;
            }
            p,span{
                color: #000;
                position: absolute;
            }
            p{
                font-size: 40px;
                bottom: 15px;
            }
            span{
                bottom: 0;
                font-size: 20px;
                right: 25px;
            }
        }
        .col-sm-9{
            height: 350px!important;
            h1{
                font-size: 80px;
                color: #000;
            }
            span{color: #df0a10;}
        }
    }
}

//      CSS FOOTER      //
.footer{
    text-align: right;
    form{
        font-weight: 600;
        .form-control{
            border-color: #000;
        }
        .btn{
            border-radius: 10px;
            background: #cf0e0f;
            color: #fff;
            padding: 5px 20px 5px 20px;
        }
    }
    .pagos{
        p{
            font-size: 30px;
            line-height: 35px;
        }
        .f-pag{
            p{
                font-size: 25px;
            }
        }
    }
}

//      RESPONSIVE      //
@media(max-width: 991px){
    .tienda {
        .title-ropa,
        .title-accesorios{
            display: none;
        }
        .tit-resp-rop,
        .tit-resp-acc{
            display: block;
        }
    }
    .footer{
        .form-group{
            flex-direction: column;
            margin-bottom: 0;
        }
    }
}
@media(max-width: 566px){
    .header .mx-w{
        width: 65%!important;
        div{
            flex-direction: column;
            a{
                width: 180px;
                margin-bottom: 15px;
            }
        }
    }
}
@media(max-width: 517px){
    .tienda{
        .elementos{
            justify-content: center!important;
            .articulo:last-child{
                margin-right: 0;
            }
        }
    }
}
@media(max-width: 450px){
    .header .mx-w{
        width: 90%!important;
    }
}
@media(max-width: 340px){
    .header .mx-w{
        width: 100%!important;
    }
}